//menu items

.menu-list {
  width: auto;
  min-width: 223px;
}

.menu-item {
  height: 42px;
  padding: 10px 16px;
  font-weight: 600;

  img {
    width: 20px;
    height: 20px;
  }

  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 0;
  }
}

.menu-popper {
  padding-bottom: 8px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  margin-top: -8px;
}

.back-btn {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  font-size: 0;
  background: transparent;

  img {
    width: 20px;
    height: 20px;
  }
}

.header-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
